---
import Layout from "../layouts/Layout.astro";

---

<Layout>
  <div class="flex justify-center items-center h-screen flex-col pb-16">
    <div class="inline-block text-slate-800">
      <h1 class="title relative inline-flex flex-col-reverse sm:flex-row mb-3">
        <div class="relative inline-block text-7xl md:text-8xl lg:text-9xl font-bold tracking-tight">
          <span class="title-gradient animate-gradient">404</span>
        </div>
      </h1>
      </div>
        something went wrong,
        <br />
        <a href="/" class="border-2 px-4 py-2 my-4 rounded-md transition duration-300 ease-in-out">
            
          go back home
        </a>


   
  </div>
</Layout>
