---
import Layout from "../layouts/Layout.astro";

const title =
  "Fraser Walker-Saunders Software Engineer, Open Source Contributor and sometimes Writer";
---

<Layout title={title}>
  <article class="my-auto pb-8">
    <a class="inline-block text-slate-800">
      <h1 class="title relative inline-flex flex-col-reverse sm:flex-row mb-3">
        <div
          class="relative inline-block text-4xl sm:text-7xl md:text-8xl lg:text-9xl font-bold tracking-tight"
        >
          <span class="title-gradient">Fraser Walker-Saunders</span>
          <span
            class="title-cover absolute inset-0 transition-opacity duration-500 print:hidden"
            aria-hidden="true"
          >
            Fraser Walker-Saunders
          </span>
        </div>
        <div class="relative flex w-10 h-10 mb-2 sm:w-16 sm:h-16 sm:-mt-10">
        </div>
      </h1>
    </a>
    <p
      class="block text-md w-[80%] md:w-[85%] sm:text-xl font-medium sm:leading-relaxed text-slate-400"
    >
      <span
        class="transition-color duration-300 hover:text-slate-600 dark:hover:text-slate-200"
      >
        I&apos;m a self taught software engineer, based in Brighton UK.
      </span>{" "}
      <br class="hidden md:inline" />
      <span
        class="transition-color duration-300 hover:text-slate-600 dark:hover:text-slate-200"
      >
        I like to contribute to{" "}
        <a
          href="/about#projects"
          class="border-b dark:border-slate-600 dark:hover:border-slate-400"
        >
          open-source
        </a>{" "}
        and&nbsp;
        <a
          href="/blog"
          class="border-b dark:border-slate-600 dark:hover:border-slate-400"
        >
          write
        </a>{" "}
        about web development.
      </span>
    </p>
  </article>
</Layout>
