---
import HeaderLink from "./HeaderLink.astro";
import { ViewTransitions } from "astro:transitions";

const { showHome } = Astro.props;
---

<nav class="flex flex-row gap-3">
  {showHome == true && <HeaderLink href="/">Home</HeaderLink>}
  <HeaderLink href="/about">About</HeaderLink>
  <HeaderLink href="/blog">Blog</HeaderLink>
  <HeaderLink href="https://github.com/fraserws" target="_blank">
    GitHub
  </HeaderLink>
  <HeaderLink
    href="https://www.linkedin.com/in/fraserws/"
    target="_blank"
  >
    LinkedIn
  </HeaderLink>
  <ViewTransitions />
</nav>
