---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
  href={href}
  rel="prefetch"
  class:list={[className, { active: isActive }]}
  {...props}
  style={isActive ? { fontWeight: "bold", textDecoration: "underline" } : {}}
>
  <slot />
</a>
